body{
	background-image: url("https://fthmb.tqn.com/de7Rf1HMAY0-pb-Him-vjvEBQu0=/5184x3456/filters:no_upscale():fill(FFCC00,1)/Cigarshophumidor-LoneWolfSantaMonicaCalifornia-56b8c2975f9b5829f83ee8d6.JPG");
	background-size: cover;
}

.boxy{
	background-color:#F1F1D4;
	display: inline-block
	color:#7e5d3b;
}